body {
    /* font-family: sans-serif; */
    background-image: url(images/pixel2.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.heading p{
    font-family: inherit;
    font-weight: 300px;
    font-size: 38px;
    color: #023e8a;
}

.main-container{
    width: 400px;
    border: 3px solid #ffffff1d;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    align-items: center;
}

.content button{
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    padding: 4px 6px;
    margin: 10px 10px;
    width: 150px;
    border-radius: 5px;
    color: #023e8a;
    font-family: inherit;
}

.length{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 150px; */
    height: 30px;
    padding: 1% 5%;
}

#length{
    color: #023e8a;
    font-size: 20px;
}

.generate{
    width: 80%;
}
.generate button{
    width: 100%;
    font-size: 25px;
    border: none;
    background-color: #023e8a;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

#new-password-1, #new-password-2{
    background-color: #ffffff;
    padding: 5px 10px;
    color: grey;
    border-radius: 5px;
}

#length-digit{
    background-color: #ffffff;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #023e8a;
    width: 100px;
    margin-left: 20px;
}

#opt1, #opt2{
    font-size: 20px;
    color: #023e8a;
}